<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nim.app">


    <application
        android:name=".YinYu"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 多端登录管理 -->
        <activity
            android:name="com.nim.app.NimMainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 多端登录管理 -->
        <activity
            android:name="com.nim.app.main.activity.MultiportActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />


        <!-- 关于 -->
        <activity
            android:name="com.nim.app.main.activity.AboutActivity"
            android:configChanges="orientation"
            android:label="@string/about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name="com.nim.app.main.activity.SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.nim.app.main.activity.RecentSessionActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.nim.app.main.activity.NoDisturbActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name="com.nim.app.contact.activity.UserProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name="com.nim.app.contact.activity.UserProfileSettingActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name="com.nim.app.contact.activity.UserProfileEditItemActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name="com.nim.app.contact.activity.BlackListActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 文件管理器 -->
        <activity
            android:name="com.nim.app.file.browser.FileBrowserActivity"
            android:configChanges="orientation"
            android:label="@string/file_browser"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />


        <activity
            android:name="com.nim.app.main.activity.CustomNotificationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.nim.app.main.activity.AvchatListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.nim.app.session.activity.MessageHistoryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.nim.app.session.activity.MessageInfoActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.nim.app.team.activity.AdvancedTeamSearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.nim.app.team.activity.AdvancedTeamJoinActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.nim.app.main.activity.TeamListActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!-- 全局搜索 -->
        <activity
            android:name="com.nim.app.main.activity.GlobalSearchActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="behind"
            android:theme="@style/global_search_bg"
            android:windowSoftInputMode="stateUnspecified" />

        <activity
            android:name="com.nim.app.main.activity.GlobalSearchDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.nim.app.main.activity.GlobalSearchDetailActivity2"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 查看合并转发消息 -->
        <!--        <activity
                    android:name="com.zxn.nim.com.nim.app.session.activity.WatchMultiRetweetActivity"
                    android:configChanges="keyboardHidden"
                    android:launchMode="standard"
                    android:theme="@style/AppTheme.NoActionBar" />-->

        <!-- 下载文件 -->
        <!--        <activity
                    android:name="com.zxn.nim.com.nim.app.session.activity.FileDownloadActivity"
                    android:configChanges="keyboardHidden"
                    android:theme="@style/AppTheme.NoActionBar" />-->

        <!-- map -->
        <activity
            android:name="com.nim.app.location.activity.LocationAmapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/location_map"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.nim.app.location.activity.NavigationAmapActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/location_navigate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 消息历史搜索 -->
        <activity
            android:name="com.nim.app.session.search.SearchMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="behind"
            android:theme="@style/global_search_bg"
            android:windowSoftInputMode="adjustPan|stateUnspecified" />

        <activity
            android:name="com.nim.app.session.search.DisplayMessageActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <!-- 聊天室 -->
        <activity
            android:name="com.nim.app.chatroom.ChatRoomActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.nim.app.chatroom.ChatRoomIndependentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name="com.nim.app.jsbridge.JsBridgeActivity"
            android:label="@string/js_bridge"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 机器人 -->
        <activity
            android:name="com.nim.app.main.activity.RobotListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 已读回执 -->
        <activity
            android:name="com.nim.app.session.activity.SendAckMsgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 已读回执详情 -->
        <activity
            android:name="com.nim.app.session.activity.AckMsgInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.nim.app.contact.activity.RobotProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.nim.app.main.activity.PrivatizationConfigActivity"
            android:configChanges="orientation"
            android:label="@string/privatization_config"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name="com.nim.app.main.activity.PublicConfigActivity"
            android:configChanges="orientation"
            android:label="@string/privatization_config"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <activity
            android:name="com.nim.app.main.activity.MsgMigrationActivity"
            android:configChanges="orientation"
            android:label="@string/local_db_migration"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- 登录界面 -->
        <activity
            android:name="com.nim.app.login.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/login"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <meta-data
            android:name="com.nim.app.appKey"
            android:value="40b5f5ff9dc3e53d5568bfd5531ba085" />

        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 高德地图 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name="com.nim.app.main.MixPushActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="com.huawei.codelabpush"
                    android:path="/deeplink"
                    android:scheme="pushscheme" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.oppo.codelabpush.intent.action.test" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>



</manifest>